@model IEnumerable<ULLCost.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<center>
    <h2 style="color:#800000">Cost Estimator</h2>
</center>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<form asp-controller="Movies" asp-action="Index">
    <p>
        <table class="table">
           
            <tbody>
                <tr>
                    <td>
                        What term are you enrolling yourself for?
                    </td>
                    <td>
                        @Html.DropDownList("movieTerm", "All")
                    </td>

                </tr>
                <tr>
                    <td>
                        Are you a Graduate/Undergraduate student?
                    </td>
                    <td>
                        @Html.DropDownList("movieLevel", "All")
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you a Resident/Non-Resident student?
                    </td>
                    <td>
                        @Html.DropDownList("movieState", "All")
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you an International Student?
                    </td>
                    <td>
                        @Html.DropDownList("movieGenre", "All")
                    </td>
                </tr>
                <tr>
                    <td>
                        How many credits are you applying for?
                    </td>
                    <td>
                        @Html.DropDownList("movieCredit")
                    </td>
                </tr>
            </tbody>


        </table>

        <center>  <input class="button" type="submit" value="Estimate" /> </center>


        <!-- Level: <input type="text" name="SearchString"> -->
<br />
        <br />
        <br />

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                $ @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
               $ @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <!--  <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
                -->
    </tr>
    }
        </tbody>
    </table>
